.Row {
  background-color: beige;
  border: dotted 0.5px black;
  width: 200px;
  height: 50px;
}
.in-selection-mode {
  cursor: pointer;
}

.Row.selected {
  background: rgb(51, 153, 131);
  color: white;
}
.Row.selecting {
  border: 1px solid rebeccapurple;
}