.Row {
  height: 15px;
  /* border-left: 0.5px solid #BDBDBD;
  border-right: 0.5px solid #BDBDBD; */
}

.Row + .Row {
  border-bottom: thin ridge #BDBDBD;

}


.Row.first {
  border-bottom: thin dotted #BDBDBD;
}

.in-selection-mode {
  cursor: pointer;
}

.Row.selected {
  background: #FDD835;
  color: white;
}
.Row.selecting {
  border: 1px solid #F9A825;
}